version: '3.8'

services:

  db:
    image: mysql:8.0
    container_name: careermatedb_container
    restart: always
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD} 
    volumes:
      - ./mysql_data:/var/lib/mysql   
    ports:
      - "3307:3306"  
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 20s
      retries: 10             


  backend:
    build: ./backend
    container_name: careermate_backend
    volumes:
      - ./backend:/app             
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy                         
    environment:

      DB_HOST: db
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}         
      DB_PORT: 3306
   
    command: >
      sh -c "
      python manage.py migrate database &&
      python manage.py migrate &&
      python manage.py runserver 0.0.0.0:8000
      "


  frontend:
    build: ./frontend
    container_name: careermate_frontend
    volumes:
      - ./frontend:/app
      - /app/node_modules         
    ports:
      - "5173:5173"
    environment:
      - CHOKIDAR_USEPOLLING=true   

