* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  min-height: 100vh;
  background-color: white;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  display: block;
  place-items: unset;
}
