/* Reset toàn bộ trình duyệt */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Đảm bảo khung hình luôn chiếm trọn màn hình */
html, body, #root {
  width: 100%;
  min-height: 100vh;
  background-color: white; /* Hoặc màu nền chủ đạo của bạn */
}

/* Loại bỏ các khoảng trắng thừa do Vite tạo ra */
body {
  display: block;
  place-items: unset;
}